*{
  font-family: 'Minecraft', sans-serif;                        
}
body{
    overflow:hidden !important;
}
.nav-link:hover{
  color:#ff5757;
  }
.title{
margin:110px 0 20px 0!important;
}
#navbarSupportedContent{
  margin:0px 400px !important;
}
.player{
    display:flex !important;
    justify-content: stretch !important;
    align-items: center !important;
}
.grade-block{
height:50px;
border:1px solid white;
background-size: cover !important;
background-position: center !important;
background-size: 50px !important;
justify-content: stretch !important;
align-items: center;
display: flex !important;
color:#ff5757;
}
.achievements{
font-size:larger;
margin:20px;
font-weight: 900;
background-color:white;
border-radius:5px;
padding:0px 10px;
}
.section{
    overflow:hidden !important;
    margin:0;
    padding:0;
    background-color: black !important;
  }
  .img-player{
    height:50px;
    margin:10px;
  }
  .nick-name{
    background-color:#ff5757;
    color:white;
    text-decoration: none;
    padding:3px 10px;
  }
  .top-rate{
    font-size:larger;
margin:20px;
background-color:silver;
font-weight: 900;
padding:0 5px;
  }
  
  .netherit{
background-image: url("blocks/netherit.png") !important;
  }
.obsidian{
    background-image: url("blocks/obsidian.jpg") !important;
  }
  .gold{
    background-image: url("blocks/gold.jpg") !important;
  }
  .iron{
    background-image: url("blocks/iron.jpg") !important;
  }
.emerald{
    background-image: url("blocks/emerald.jpg") !important;
}
.earth{
    background-image: url("blocks/earth.jpg") !important;
}
.rubin{
    background-image: url("blocks/rubin.jpg") !important;
}
.amethyst{
    background-image: url("blocks/ametist.jpg") !important;
}
.coal{
    background-image: url("blocks/coal.png") !important;
}
.diamond{
    background-image: url("blocks/diamond.jpg") !important;
}




  @media only screen and (max-width: 1023px) {
    body{
        overflow:visible !important;
    }
 .grade-block{
  width:100%;

 }
 #navbarSupportedContent{
  margin:0px;
}
 .player{
  font-size:smaller;
  margin:10px 0;
  border:1px solid black;
  background-color:rgba(0,0,0,0.7)
 }
    .containerGame{

        display:block !important;
        width:100%;
        height:fit-content;
    }
    .playersContainer{
        display:block !important;
    }
.achievements{
  margin:5px;
}
.top-rate{
  margin:2px;
}

    .netherit{
      width:100%;
        }
    .obsidian{
      width:80%;
        }
    .emerald{
       width:80%;
        }
    .diamond{
      width:70%;
        }
    .gold{
       width:60%;
      }
    .rubin{
      width:60%;
      }
    .amethyst{
      width:50%;
      }
    .iron{
      width:50%;
      }
    .coal{
      width:fit-content;
      }
    .earth{
      width:fit-content;
      }
}