*{
    font-family: "Titillium Web", sans-serif;
}
nav{
  position:fixed !important;
    height:120px;
    z-index:10;
}


.nav-link{
  font-size:20px;
  font-weight: 600;
  text-transform: uppercase;
color:white;
}
.dropdown-menu{
  --bs-dropdown-link-active-bg: #FF5757 !important;
}
.nav-item{
  padding:20px;
}

.navbar-brand >img{
    height:110px;
    filter: drop-shadow(0 0 0.5rem rgb(0, 0, 0));
  margin-left:30px;
}
.navbar-brand{
    padding:0;
 
}


.blur-background {
  backdrop-filter: blur(10px);
}

.button {
  cursor: pointer;
  padding: 10px 0;
  font-size: larger;
  color: white;
  border: 2px solid white;
  background-color: transparent;
  font-weight: 900;
  transition:ease .3s;
  margin:20px 0;
}
.button:hover {
  color: #ff5757;
  background-color: white;
  transition:ease .3s;
}


.title{
  font-size:50px;
  color:white;
  font-weight:900;
  margin:150px 0 !important;
  width:100%;
  text-align: center;
}
.containerGame{
  background-color: rgba(0,0,0,0.7);
  height:100%;
  z-index:2;
  top:0;
  position: absolute !important;
  left:0;
}


/*#FF5757*/
@media only screen and (max-width: 1023px) {
  .navbar-brand >img{
    height:50px;
    filter: drop-shadow(0 0 0.75rem rgb(226, 225, 225));
    margin-left:0px;
}
.blur-background {
  backdrop-filter: none !important;
}
nav{
  background-color:white;
    height:fit-content;
}
.dropdown-menu{
  width:10px;
  position:absolute !important;
}
.nav-link{
  font-size:22px;
color:black;
}
.nav-item{
  padding:10px;
  margin-left:30px;
}
.nav-item:hover{
color:#ff5757;
}
video{
  display:none;
}
}