*{
    font-family: "Fortnite" ,sans-serif;
}
body{
    overflow:hidden !important;
}
.containerGame{
    background-color: rgba(0,0,0,0.7);
    height:100%;
    z-index:2;
    top:0;
    position: absolute !important;
    left:0;
}
#navbarSupportedContent{
    margin:0px 400px !important;
  }
.title{
    font-size:50px;
    color:white;
    font-weight:900;
    margin:150px 0 !important;
    width:100%;
    text-align: center;
}
.playersContainer{
    display: flex !important;
    justify-content: center;
    align-items: center;
}
.player{
    margin:20px;
    justify-content: center;
    display: grid !important;
    align-items: center;
    color:white;
    backdrop-filter: blur(15px);
    padding:0 10px;
    border-radius:20px;
}
.containerGame >a{
    font-size:20px;
    color:white;
    font-weight: 800;
    margin:15px;
    text-decoration: none;
    border:2px solid white;
    padding:4px 10px;
    border-radius:10px;
    transition: ease 0.3s;
}
.containerGame >a:hover{
    color:black;
    transition: ease 0.3s;
    background-color:white;
}
.player > img{
    width:150px;
    margin:auto!important;
}
.player>span{
    margin:10px auto 0 auto;
}
.player > a{
margin:10px auto!important;
background-color:#ff5757;
padding:1px 20px;
width:fit-content;
font-size:25px;
text-decoration: none !important; 
color:white;
font-weight: 700;
cursor: pointer !important;
}
.rank{
    font-size:40px;
    font-weight: 900;
}
section{
    overflow:hidden !important;
    margin:0;
    padding:0;
    background-color: black !important;
}
.nav-link:hover{
    color:#ff5757;
    }

@media only screen and (max-width: 1023px) {
    body{
        overflow:visible !important;
    }
    video{
        display:none;
    }
    .containerGame{

        display:block !important;
        width:100%;
        height:fit-content;
    }
    #navbarSupportedContent{
        margin:0px !important;
      }
    .playersContainer{
        display:block !important;
    }
    .player > a{
        margin:30px auto!important;
    }
    .player{
        background-color:rgba(0,0,0,0.7)
    }
    .player>span{
        margin:10px auto -25px auto;
    }
    .containerGame >a{
margin:20px 80px !important;
    }
}